<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/click.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <div>
        <div id="nav_bar">
            <div id="nav1">
                <a href="#">Home</a>
            </div>
            <div id="nav2">
                <a href="#">Leaders</a>
            </div>
            <div id="nav3">
                <a href="#">Boosts</a>
            </div>
        </div>
        <h1 id="click">0</h1>
        <button type="button" id="clickButton" class="button">
            <img src="static/img/moon.png" alt="">
        </button>
        <div id="floatingText" style="display: none; position: absolute;">+1</div>
    </div>

    <script src="js/click.js"></script>
</body>
</html>
